<header class="container">
<h1> Lista de Modalidade de frete </h1>
<hr>
<%= link_to 'Cadastrar Nova Modalidade de Frete', new_shipping_method_url, class: "btn btn-primary  btn-m mb-3" %>
</header>
<% if @shipping_methods.any? %>
  <div class="container text-center">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th> <%=ShippingMethod.human_attribute_name(:name)%> </th>
          <th> <%=ShippingMethod.human_attribute_name(:flat_rate)%> </th>
          <th> <%=ShippingMethod.human_attribute_name(:status)%> </th>
        </tr>
      </thead>
      <tbody>
        <% @shipping_methods.each do |sm|%>
        <tr>
          <td> <%= link_to sm.name, sm  %> </td>
          <td> R$ <%= sm.flat_rate %> </td>
          <td> <%= I18n.translate(sm.status)%> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
  <p>Não existem modalidades de frete cadastradas.</p>
<% end %>