<h1> Lista de Modalidade de frete </h1>

<%= link_to 'Cadastrar Nova Modalidade de Frete', new_shipping_method_url %>

<% if @shipping_methods.any? %>
  
    <table>
      <thead>
        <tr>
          <th> <%=ShippingMethod.human_attribute_name(:name)%> </th>
          <th> <%=ShippingMethod.human_attribute_name(:flat_rate)%> </th>
        </tr>
      </thead>
      <tbody>
        <% @shipping_methods.each do |sm|%>
        <tr>
          <td> <%= link_to sm.name, sm  %> </td>
          <td> R$ <%= sm.flat_rate %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
 
  <% else %>
  <p>Não existem modalidades de frete cadastradas.</p>
<% end %>