<header class="container">
  <h1>Lista de Veículos</h1>
  <hr>
  <%= link_to 'Cadastrar Veículo', new_vehicle_url, class: "btn btn-primary  btn-m mb-3" %>

  <%= form_with url: search_vehicles_url, method: :get do |f| %>
    <%= f.label :query, 'Buscar Veículos' %>
    <%= f.text_field :query %>
    <%= f.submit 'Buscar' %>
  <% end %>
  
 </header>
<br>
<% if @vehicles.any? %>
  <div class="container text-center">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th> <%=Vehicle.human_attribute_name(:license_plate)%> </th>
          <th> <%=Vehicle.human_attribute_name(:model)%> </th>
          <th> <%=Vehicle.human_attribute_name(:status)%> </th>
        </tr>
      </thead>
      <tbody>
        <% @vehicles.each do |vehicle|%>
        <tr>
          <td><%= link_to vehicle.license_plate, vehicle %></td>
          <td><%= vehicle.model  %> </td>
          <td><%= I18n.translate(vehicle.status) %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
 
  <% else %>
  <p>Não existem veículos cadastrados.</p>
<% end %>