<h1>Lista de Veículos</h1>

<%= link_to 'Cadastrar Veículo', new_vehicle_url %>

<%= form_with url: search_vehicles_url, method: :get do |f| %>
  <%= f.label :query, 'Buscar Veículos' %>
   <%= f.text_field :query %>
   <%= f.submit 'Buscar' %>
 <% end %>

<% if @vehicles.any? %>
  
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th> <%=Vehicle.human_attribute_name(:license_plate)%> </th>
          <th> <%=Vehicle.human_attribute_name(:model)%> </th>
          <th> <%=Vehicle.human_attribute_name(:status)%> </th>
        </tr>
      </thead>
      <tbody>
        <% @vehicles.each do |vehicle|%>
        <tr>
          <td><%= link_to vehicle.license_plate, vehicle %></td>
          <td><%= vehicle.model  %> </td>
          <td><%= I18n.translate(vehicle.status) %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
 
  <% else %>
  <p>Não existem veículos cadastrados.</p>
<% end %>