<header class="container">
  <h1> Detalhes do Veículo </h1>
  <hr>
  <div class="card text-bg-light mb-3" style="max-width: 40rem;">
    <div class="card-body">
      <h4 class="card-title"> <%= @vehicle.model %> </h4>
      <ul class="card-text">
        <li class="list-group-item"> <strong><%=Vehicle.human_attribute_name(:license_plate)%>:</strong> <%= @vehicle.license_plate%> </li>
        <li class="list-group-item"> <strong><%=Vehicle.human_attribute_name(:brand)%>:</strong> <%= @vehicle.brand%> </li>
        <li class="list-group-item"> <strong><%=Vehicle.human_attribute_name(:year_of_manufacture)%>:</strong> <%= @vehicle.year_of_manufacture %> </li>
        <li class="list-group-item"> <strong><%=Vehicle.human_attribute_name(:maximum_load_capacity)%>:</strong> <%= @vehicle.maximum_load_capacity %> kg </li>
        <li class="list-group-item"> <strong><%=Vehicle.human_attribute_name(:status)%>:</strong> <%= I18n.translate(@vehicle.status) %> </li>
        <li class="list-group-item"> <strong><%=Vehicle.human_attribute_name(:shipping_method_id)%>:</strong>  <%= @vehicle.shipping_method.name %> </li>
      </ul>
  
      <% if @vehicle.available? %>
        <%= button_to 'Veículo em Manutenção', maintenance_vehicle_url(@vehicle.id), class: "btn btn-primary  btn-m mb-3"%>
      <% else @vehicle.maintenance? %>
        <%= button_to 'Veículo Disponível', available_vehicle_url(@vehicle.id), class: "btn btn-primary  btn-m mb-3" %>
      <% end %>

      <%= link_to 'Editar', edit_vehicle_url, class: "btn btn-primary  btn-m mb-3"%>
    </div>
  </div>
</header>