<!DOCTYPE html>
<html>
  <head>
    <title>ShippingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1> Frete Rápido </h1>
      <nav>
        <%= link_to 'Página Inicial', root_path %> |
        <%= link_to 'Veículos', vehicles_url %> |
        <%= link_to 'Modalidades de Frete', shipping_methods_url %> |
        <%= link_to 'Preços por Peso', price_by_weights_url %> |
        <%= link_to 'Preços por Distância', price_by_distances_url %> |
        <%= link_to 'Prazos de Entrega', delivery_times_url %> |
        <%= link_to 'Ordens de Serviço', service_orders_url %>
        <% if user_signed_in? %>
        <%= current_user.email%>
        <%= button_to 'Sair', destroy_user_session_url, method: :delete %> |
        <% else %>
        <%= link_to 'Entrar', new_user_session_url %>
        <% end %>
      </nav>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </header>

  <main>
    <%= yield %>
  <main>
  </body>
</html>
